.App {
  font-family: sans-serif;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .pagination-container {
    position: static;
  }
  ul.pagination-list {
    margin-bottom: 2rem;
  }
  .pagination-item {
    width: 2.1rem;
    margin-right: 5px;
  }
}
